APP_HOST=0.0.0.0
APP_PORT=8080
URL_SERVICE_PAYMENT=<PROTOCOL>://<HOST>:<PORT>
URL_SERVICE_ORDER=<PROTOCOL>://<HOST>:<PORT>
URL_SERVICE_INVENTORY=<PROTOCOL>://<HOST>:<PORT>
DATABASE_URL=<DATABASE_URL>
